@import url('https://fonts.googleapis.com/css2?family=Liter&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.363);
}

body {
    font-family: "Poppins", serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 100;
    font-style: normal;
    color: rgb(0, 81, 255);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header-container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background-color: aliceblue;
    box-shadow: var(--box-shadow);
}

.header-list {
    text-transform: uppercase;
}

.heavy-logo {
    position: fixed;
    max-height: 65px;
    top: 0.5%;
    left: 44%;
}