{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-a m-3">Shop</a>
                    </li>
                </ul>
            </navbar>
            <div class="header-logo">
                <a href="/"><img src="{% static 'img/dealspot.png' %}" alt="" class="heavy-logo"></a>
            </div>
            <div class="header-profile">
                <a href="#" class="m-3">login</a>
            </div>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <img src="{% static 'img/frame1.jpg' %}" class=frame1 alt="">
    <img src="{% static 'img/frame2.jpg' %}" class=frame2 alt="">
    <img src="{% static 'img/frame3.jpg' %}" class=frame3 alt="">




    {% comment %} js for bootstrap {% endcomment %}
    <script> src={% static 'bootstrap/js/bootstrap.bundle.min.js' %}</script>
</body>
</html>